<ion-header [translucent]="true">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</ion-header>

<ion-content [fullscreen]="true">
<div class="container">
  <div class="tabela table-responsive">
  <table class="table">

    <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>Email</th>
    </tr>
    <tr *ngFor="let item of funcionarios">
      <td>{{item.nome}}</td>
      <td>{{item.cpf}}</td>
      <td>{{item.email}}</td>
    </tr>

  </table>
  </div>
</div>

</ion-content>
