<ion-header>
  <!--
  <ion-toolbar>
    <ion-title> CRUD-OCR</ion-title>
  </ion-toolbar>
  -->
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container ion-text-center ion-text-justify">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="ion-padding">

      <div class="form-group">
        <label for="email" class="ion-margin">Email</label>
        <input type="email" placeholder="Digite seu email..." formControlName="email" minlength="5" required
          class="ion-padding">
        <div *ngIf="email?.touched && email?.invalid" class="erroMensagem margin-left">
          <div *ngIf="email?.hasError('required')">O email é obrigatório.</div>
          <div *ngIf="email?.hasError('email')">Por favor, insira um email válido.</div>
          <div *ngIf="email?.hasError('minlength')">O email deve ter pelo menos 5 caracteres.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="senha" class="ion-margin">Senha</label>
        <input type="password" placeholder="Digite sua senha..." formControlName="senha" minlength="5" required
          class="ion-padding">
        <div *ngIf="senha?.touched && senha?.invalid" class="erroMensagem margin-left">
          <div *ngIf="senha?.hasError('required')">A senha é obrigatória.</div>
          <div *ngIf="senha?.hasError('minlength')">A senha deve ter pelo menos 5 caracteres.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="cargo" class="ion-margin">Cargo</label>
        <ion-select class="always-flip" toggleIcon="caret-down-sharp" interface="popover" formControlName="cargo"
          placeholder="Escolha o Cargo">
          <ion-select-option value="administrador">Administrador</ion-select-option>
          <ion-select-option value="funcionario">Funcionário</ion-select-option>
        </ion-select>
      </div>


      <ion-button type="submit" [disabled]="loginForm.invalid" shape="round" color="primary">Login</ion-button>

      <p style="margin-top: 30px; color: white;">Desenvolvido por</p>

      <ion-img src="../../../assets/image/systh_logo.png" class="responsiveImg"></ion-img>



    </form>
  </div>
</ion-content>
