<ion-header>
  <ion-toolbar>
    <ion-title> CRUD-OCR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <ion-input labelPlacement="floating" formControlName="email" required>
        <div slot="label">Email </div>
      </ion-input>
      <ion-input labelPlacement="floating" formControlName="senha" required>
        <div slot="label">Senha</div>
      </ion-input>
      <ion-button type="submit" [disabled]="loginForm.invalid">Login</ion-button>
    </form>

  </div>
</ion-content>
