<ion-header>
  <ion-toolbar>
    <ion-title> CRUD-OCR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container ion-text-center ion-text-justify">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="ion-padding">
      <label for="email">Email</label>
      <input type="email" placeholder="Digite seu email..." formControlName="email" minlength="5" required>
      <label for="senha">Senha</label>
      <input type="password" placeholder="Digite sua senha..." formControlName="senha" minlength="5" required>
      <ion-button type="submit" slot="middle" [disabled]="loginForm.invalid" color="success">Login</ion-button>

    </form>
  </div>

</ion-content>
